{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<!-- main container -->
<div class = "container my-3">
	<h2> {{context.list_name }} </h2>
	<blockquote class="blockquote">{{ context.list_desc }}</blockquote>
	<table class="table">
		<thead class=thead-light">
			<tr>
				<th scope="col"> Type of Task</th>
				<th scope="col"> Description</th>
				<th scope="col"> Completed?</th>
		</thead>
		<tbody>
		{% for row in context.rows %}
		<form action="/">
	</table>

</article>

{% endblock %}