{% extends "base.html" %}
{% block title %}Tasks{% endblock %}
{% block content %}
<!-- main container -->
<div class = "container my-3">
	<h2> {{context.list_name }} </h2>
	<blockquote class="blockquote">{{ context.list_desc }}</blockquote>
	<table class="table">
		<thead class="thead-light">
			<tr>
				<th scope="col"> Type of Task</th>
				<!-- Would be cool to implement a sort based on these headers but not necessary for the project -->
				<th scope="col"> Description</th>
				<th scope="col"> Completed?</th>
		</thead>
		<tbody>
		{% for row in context.rows %}
		<tr> 
			<td>
				{{ row[2] }}  <!-- dataType_id (Type of Task) -->
			</td>
			<td>
				{{ row[3] }}  <!-- description -->
			</td>
			<td>
				{{ row[4] }}  <!-- completed -->
			</td>
			<td>                   
				<div>
					<button class="btn btn-outline-warning" onclick="edit_task">Edit</button>
        </div>
			</td>
			<td>                   
				<div>
					<button class="btn btn-outline-warning" onclick="delete_task">Delete</button>
        </div>
			</td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
<!-- form to add task -->
    <h3>Add a New Task</h3>
    <form action="/add_task" class="form-inline" method="post">
        <input name="user_id" type="hidden" value="{{ context.user_id }}">
		<input name="list_id" type="hidden" value="{{ context.list_id }}">
		<input name="data_id" type="hidden" value="{{ context.dataType_id }}">
        <tr>
            <th scope="row"><input class="form-control mr-2" name="task_type" placeholder="Task Type" type="text">
            </th>
            <td>
				<input class="form-control mr-2" name="task_desc" placeholder="Description" type="text">
            </td>
		    <td>
				<input class="form-control mr-2" name="task_comp" placeholder="No" type="text">
            </td>
            <td>
                <button class="btn btn-outline-success" type="submit">Add Task</button>
            </td>
        </tr>
    </form>

</article>

{% endblock %}